    <swiper [config]="config" class="skills-slider">
      <ng-template swiperSlide><i class="fab fa-angular"></i><span>Angular</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-less"></i><span>LESS</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-html5"></i><span>HTML5</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-magento"></i><span>Magento2</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-js-square"></i><span>JavaScript</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-git-square"></i><span>GIT</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-node"></i><span>Node</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-npm"></i><span>NPM</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-css3-alt"></i><span>CSS3</span></ng-template>
      <ng-template swiperSlide><i class="fab fa-sass"></i><span>SASS</span></ng-template>
      <ng-template swiperSlide><i class="fas fa-mobile-alt"></i><span>Responsive Design</span></ng-template>
    </swiper> 