    <swiper
      [slidesPerView]="6"
      [spaceBetween]="10"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      class="skills-slider"
    >
      <ng-template swiperSlide><i class="fab fa-angular"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-less"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-html5"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-magento"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-js-square"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-git-square"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-node"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-npm"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-magento"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-js-square"></i></ng-template>
      <ng-template swiperSlide><i class="fab fa-git-square"></i></ng-template>
    </swiper>