footer {
	min-height: 50px;
	background-color: #2d837f;
	border-radius: 2px;
	display: flex;
	align-items: center;
	span {
		font-family: 'Open Sans', sans-serif;
		margin-left: 1rem;
		color: white;
	}
}