nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	min-height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px white;
	transition-duration: 0.5s;
	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #2d837f;
		opacity: 0.95;
		z-index: -1;
	}
	.logo-section {
		min-width: 200px;
		min-height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 2rem;
		margin-right: 2rem;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		span {
			font-size: 2rem;
			color: white;
		}
	}
	ul {
		li {
			list-style: none;
			display: inline;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			font-family: 'Open Sans', sans-serif;
			transition-duration: 0.5s;
			cursor: pointer;
			a {
				text-decoration: none;
				color: white;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.hide {
	top: -70px;
}

@media screen and (max-width: 1024px) {
	nav {
		.logo-section {
			margin-left: 0;
			margin-right: 0;
			span {
				font-size: 1.5rem;
				&::before {
					content: '| ';
				}
				&::after {
					content: ' |';
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	nav {
		.logo-section {
			min-width: unset;
			span {
				font-size: 1rem;
			}
		}
	}
}