<div class="section-line"></div>
<div class="section-title">
	<div class="section-inner">
		<h2>GET IN TOUCH</h2>
	</div>
</div>
<div class="contact-section">
	<form>
		<div class="row">
			<label>First Name:</label>
			<input type="text" placeholder="Enter First Name...">
		</div>
		<div class="row">
			<label>Last Name:</label>
			<input type="text" name="" placeholder="Enter Last Name...">
		</div>
		<div class="row">
			<label>Company:</label>
			<input type="text" name="" placeholder="Enter Company Name...">
		</div>
		<div class="row">
			<label>Message:</label>
			<textarea placeholder="Compose your message"></textarea>
		</div>
		<div class="submit" id="button-6">
			<div id="spin"></div>
			<span>Submit</span>
		</div>
	</form>
</div>
