<div class="section-line"></div>
<div class="section-title" id="projects">
	<div class="section-inner">
		<h2>FEATURED PROJECT</h2>
	</div>
</div>
<div class="featured-project">
	<div class="right-section">
		<div class="image">
			<a href="https://shop.countrywidehealthcare.co.uk" target="_blank">
				<img src="../../assets/images/shop-countrywide.png"/>
			</a>
		</div>
	</div>
	<div class="left-section">
		<div class="image img-top">
			<div class="overlay"></div>
			<img src="../../assets/images/shop-countrywide-old.png"/>
			<div class="overlay-text">
				<span>OLD SITE</span>
			</div>
		</div>
		<div class="text">
			<p>This is a B2B e-commerce website catering primarily to care homes.</p>
			<p>The requirements for this project included creating a fresh new design that's fully responsive, refining the current features of the site, introducing new features to ease the customer journey and give a unique experience to customers.</p>
			<p>Initial design done using Adobe XD. Built using Magento2, LESS, JavaScript and HTML5. Version control using GIT.</p>
			<a href="https://shop.countrywidehealthcare.co.uk" target="_blank">shop.countrywidehealthcare.co.uk</a>
		</div>
	</div>
</div>
<div class="section-title">
	<div class="section-inner">
		<h2>RECENT PROJECTS</h2>
	</div>
</div>
<div class="project-container">
	<div class="project-thumbnail">
		<div class="image">
			<a href="https://incontinencesupermarket.co.uk" target="_blank">
				<img src="../../assets/images/incosupermarket.png"/>
			</a>	
		</div>
		<div class="languages">
			<i class="fab fa-magento"></i>
			<i class="fab fa-less"></i>
			<i class="fab fa-html5"></i>
			<i class="fas fa-mobile-alt"></i>
		</div>
		<div class="text">
			<h3><a href="https://incontinencesupermarket.co.uk" target="_blank">incontinencesupermarket.co.uk</a></h3>
			<p>Built using Magento2 - For this project I was tasked to migrate from Magento1 to Magento2, produce a new design and implement new features. <a href="https://incontinencesupermarket.co.uk" target="_blank">Visit Website</a></p>
		</div>
	</div>
		<div class="project-thumbnail">
		<div class="image">
			<a href="https://knowledgeiskey.co.uk" target="_blank">
				<img src="../../assets/images/knowledgeiskey.png"/>
			</a>
		</div>
		<div class="languages">
			<i class="fab fa-angular"></i>
			<i class="fab fa-sass"></i>
			<i class="fab fa-html5"></i>
			<i class="fab fa-node"></i>
			<i class="fas fa-mobile-alt"></i>
		</div>
		<div class="text">
			<h3><a href="https://knowledgeiskey.co.uk" target="_blank">knowledgeiskey.co.uk</a></h3>
			<p>Built using Angular MEAN Stack and Shopify, this is an e-commerce website I've been working on selling eco-friendly products.
 			<a href="https://knowledgeiskey.co.uk" target="_blank">Visit Website</a></p>
		</div>
	</div>
		<div class="project-thumbnail">
		<div class="image">
			<a href="https://incontinencesupermarket.co.uk/blog" target="_blank">
				<img src="../../assets/images/blog-incosuper.png"/>
			</a>
		</div>
		<div class="languages">
			<i class="fab fa-wordpress"></i>
			<i class="fab fa-css3-alt"></i>
			<i class="fab fa-html5"></i>
			<i class="fab fa-js-square"></i>
			<i class="fas fa-mobile-alt"></i>
		</div>
		<div class="text">
			<h3><a href="https://incontinencesupermarket.co.uk/blog" target="_blank">incontinencesupermarket.co.uk/blog</a></h3>
			<p>Built using Wordpress - I was tasked to repair the frontend, give the site a small refresh and update the brand colours <a href="https://incontinencesupermarket.co.uk/blog" target="_blank">Visit Website</a></p>
		</div>
	</div>
</div>
