    <swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      class="main-slider"
    >
      <ng-template swiperSlide>
      	<div class="image-container">
			   <div class="image"></div>
      	</div>     	
      	<div class="text-container">
      		<h1 class="main">Frontend</h1>
      		<h1>Designer/Developer</h1>
      		<div class="contact" id="button-6">
      			<div class="overlay"><div class="highlight"></div></div>
      			<span class="text">Contact Me</span>
      		</div>
      	</div>
      </ng-template>
    </swiper>