    <swiper [config]="config" class="main-slider">
      <ng-template swiperSlide>
      	<div class="image-container">
			   <div class="image"></div>
      	</div>     	
      	<div class="text-container">
      		<h1 class="main">Frontend</h1>
      		<h1>Developer/Designer</h1>
      		<div class="contact" id="button-6" (click)="scrollToSection()">
      			<div class="overlay"><div class="highlight"></div></div>
      			<span class="text">Featured Project  <i class="fas fa-chevron-down"></i></span>
      		</div>
      	</div>
      </ng-template>
    </swiper>